*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;

}
#main{
    width: 100vw;
    height: 100vh;
   
}
#nav{
    width: 100vw;
    height: 10vh;
    position: relative;
    display: flex;
    align-items: center;
}
#cards{
  position: relative;

  display: flex;
  align-items: center;
}

.card{
  position: relative;
  /* background-color: #646464; */
  border-radius: 20px;
  height: 100%;
  width: 100%;
  
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.card .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}
.cor1 .swiper{
  width: 25vw;
  height: 40vh;
  /* background-color: #444; */
  border-radius: 20px;
  background-color: #ededed;
}
.cor2 .swiper{
  width: 25vw;
  height: 40vh;
  border-radius: 20px;
  background-color: #ededed;
}
.cor3 .swiper{
  width: 25vw;
  height: 40vh;
  border-radius: 20px;
  background-color: #ededed;
}
.cor4 .swiper{
  width: 25vw;
  height: 40vh;
  border-radius: 20px;
  background-color: #ededed;
}
.cor5 .swiper{
  width: 25vw;
  height: 40vh;
  border-radius: 20px;
  background-color: #ededed;
}
.cor6 .swiper{
  width: 25vw;
  height: 40vh;
  border-radius: 20px;
  background-color: #ededed;
}
/* #main{
  position: relative;

  display: flex;
  align-items: center;
} */

.cardo{
  width: 25vw;
  height: 40vh;
  background-color: #14bff2;
}
.cardo1{
  width: 25vw;
  height: 40vh;
  background-color: #990b88;
}
.cardo2{
  width: 25vw;
  height: 40vh;
  background-color: #14f214;
}

#main .card .image{
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: #fff;
  box-shadow: 0px -1px 4px 2px rgba(0, 0, 0, 0.25);
}
#main .card .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}
#box1{
  position: absolute;
  width: 100%;
  height: 40%;
  border-radius: 20px 20px 0 0;
  /* background-image: url(/images/Default.gif); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.box2{
  position: absolute;
  width: 100%;
  height: 40%;
  border-radius: 20px 20px 0 0;
  background: linear-gradient(106.32deg, #00c2ff 14.23%,
  rgba(255, 25, 25, 0) 139.97%);
}
.box3{
  position: absolute;
  width: 100%;
  height: 40%;
  border-radius: 20px 20px 0 0;
  background: linear-gradient(106.32deg, #f30fdd 14.23%,
  rgba(255, 25, 25, 0) 139.97%);
}
.box4{
  position: absolute;
  width: 100%;
  height: 40%;
  border-radius: 20px 20px 0 0;
  background: linear-gradient(106.32deg, #f30f0f 14.23%,
  rgba(255, 25, 25, 0) 139.97%);
}
.box5{
  position: absolute;
  width: 100%;
  height: 40%;
  border-radius: 20px 20px 0 0;
  background: linear-gradient(106.32deg, #0ff348 14.23%,
  rgba(255, 25, 25, 0) 139.97%);
}
.card .media-icons{
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card .media-icons i{
  color: #fff;
  opacity: 0.7;
  margin-top: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.card .media-icons i:hover{
  opacity: 1;
}
.card .name-profession{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.name-profession .name{
  font-size: 20px;
  font-weight: 600;
  color: #222;
}
.name-profession .profession{
  font-size: 15px;
  font-weight: 500;
  color: #333;
}
.card .rating{
  display: flex;
  align-items: center;
  margin-top: 18px;
}
.card .rating i{
  font-size: 18px;
  margin: 0 2px;
  color: orange;
}
#main .card .about{
  display: flex;
  text-align: center;
  color: #444;
  margin-top: 45px;
  margin-bottom: 5px; 
}
.card .button{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.card .b1 button{
  background: #f3a323;
}
.card .b2 button{
  background: #14bff2;
}
.card .b3 button{
  background: #f337e2;
}
.card .button button{
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 22px;
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.card .button button:hover{
  opacity: 0.8;
}

.swiper-button-next, .swiper-button-prev{
  opacity: 0.7;
  color: #1176f3;
  transition: all 0.3s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
  opacity: 1;
  color: #1176f3;
}

#dis{
  width: 100vw;
  height: 90vh;
  /* background-color: #444; */
  position: relative;

}
.cor1{
  width: 25vw;
  height: 40vh;
  position: absolute;
  top: 3vh;
  left: 2vw;
}
.cor2{
  width: 25vw;
  height: 40vh;
  position: absolute;
  top: 3vh;
  left: 37vw;
}
.cor3{
  width: 25vw;
  height: 40vh;
  position: absolute;
  top: 45vh;
  left: 2vw;
}
.cor4{
  width: 25vw;
  height: 40vh;
  position: absolute;
  top: 45vh;
  left:72vw;
}
.cor5{
  width: 25vw;
  height: 40vh;
  position: absolute;
  top: 45vh;
  left: 37vw;
}
.cor6{
  width: 25vw;
  height: 40vh;
  position: absolute;
  top: 3vh;
  left:72vw;
}
.cname{
  width: 15vw;
  height: 4vh;
  position: absolute;
  top: 17vh;
  left: 50%;
  transform: translate(-50%,0);
}
.dati{
  width: 10vw;
  height: 4vh;
  position: absolute;
  top: 23vh;
  left: 2vw;
  font-size: .7rem;
  text-align: center;
}

.Clear{
  background-image: url(../images/Clear1.gif);
}

.Clouds{
  background-image: url(../images/Clouds1.gif);
}

.Drizzle{
  background-image: url(../images/Drizzle1.gif);
}
.Rain{
  background-image: url(../images/Rain1.gif);
}
.Haze{
  background-image: url(../images/Haze1.gif);
}
.Fog{
  background-image: url(../images/Fog1.gif);
}
.Dust{
  background-image: url(../images/Dust1.gif);
}
.Snow{
  background-image: url(../images/Snow1.gif);
}
.Mist{
  background-image: url(../images/Mist1.gif);
}
.Shower-rain{
  background-image: url(../images/showerrain1.gif);
}
.Scattered-Clouds{
  background-image: url(../images/ScatteredClouds1.gif);
}
.Squally{
  background-image: url(../images/Squally1.gif);
}


.desci{
  width: 10vw;
  height: 4vh;

  position: absolute;
  top: 23vh;
  right: 2vw;
  text-align: center;
  font-size: .7rem;
}
.temper{
  width: 10vw;
  height: 8vh;
  position: absolute;
  top: 29vh;
  left: 2vw;
  text-align: center;
  font-size: 1rem;
}
.iconn{
  width: 4.5vw;
  height: 8vh;
  border-radius: 50%;
  position: absolute;
  top: 29vh;
  right: 4vw;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
.iconn img{
  width: 100%;
  height: 100%;
}
#nav .nav1{
  width: 4vw;
  height: 10vh;
  /* margin-top: 1vh; */
}

#nav .nav2{
  width: 20vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 6vh; */
position: relative;


left: 70vw;
}

.ico{
  width: 3vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  /* margin-left: .5vw; */
  border-radius: 15px;

  /* margin-top: 3vh; */
  transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;

}
.ico a{
  text-decoration: none;
  color: #000;
  text-align: center;
}
.ico i{
  transition: all cubic-bezier(0.19, 1, 0.22, 1) .1s;
}

.ico:hover{
  background-color: #5ebde2;
}

.ico i:hover{
  font-size: 1.2rem;
}

#nav .nav3{
  width: 3vw;
  height: 5vh;
  /* margin-top: 33vh; */
  padding: 0.3vh 0;
}

.lo{
  width: 4vw;
  height: 7vh;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  overflow: hidden;
  margin-left: .5vw;
  margin-top: 2vh;
}
.lo img{
  width: 100%;
  height: 100%;

}

@media only screen and (max-width : 600px) {
  .cor1 .swiper {
    width: 26vw;
    height: 39vh;
  }
  .cor2 .swiper {
    width: 26vw;
    height: 39vh;
  }
  .cor3 .swiper {
    width: 26vw;
    height: 39vh;
  }
  .cor4 .swiper {
    width: 26vw;
    height: 39vh;
  }
  .cor5 .swiper {
    width: 26vw;
    height: 39vh;
  }
  .cor6 .swiper {
    width: 26vw;
    height: 39vh;
  }
  :root {
    --swiper-navigation-size: 22px;
}
.cname {
  width: 27vw;
  height: 2vh;
  font-size: 7px;
  top: 16vh;
  left: 58%;
}
.dati {
  width: 23vw;
  top: 22vh;
}
.desci {
  width: 20vw;

  top: 27vh;
  right: 2vw;
}
.temper {
  width: 10vw;

  
  top: 30vh;
  left: 3vw;
 
  font-size: .6rem;
}
.iconn {
  width: 18.5vw;
  top: 32vh;
  right: 3vw;

}
.lo {
  width: 18vw;
   
}
#nav .nav2 {
  width: 36vw;
  left: 56vw;
}
.ico {
  width: 5vw;
}
}